# Core
fastapi==0.111.0
uvicorn==0.29.0
python-dotenv==1.0.1
python-multipart==0.0.7

# Audio Processing
vosk==0.3.45
pydub==0.25.1
ffmpeg-python==0.2.0

# APIs
requests==2.31.0

# Utilities
pytz==2024.1 #yes
